<mat-card class="mb-2" *ngIf="order;else notfound">
    <mat-card-header>
        <mat-card-title>
            <h3 style="margin-bottom: 0px; margin-top: -3px;"><b>Nr. Telefon: </b>{{order.phone_number}}</h3>
        </mat-card-title>
        <mat-card-subtitle>
            <p><b>Produs: </b>{{order.product}}</p>
        </mat-card-subtitle>
        <span style="flex: 1 1 auto;"></span>
        <a [routerLink]="'/'"><button mat-icon-button><mat-icon>close</mat-icon></button></a>
    </mat-card-header>
    <mat-card-content>
        <p><b>Descriere problema: </b>{{order.issue_description}}</p>
        <p><b>Stare:</b> {{order.order_status}}</p>
        <p><b>Observatii Tehnician: </b>{{order.technician_observations}}</p>
        <p><b>IMEI: </b>{{order.imei}}</p>
        <p><b>Numar serie: </b>{{order.serial_number}}</p>
        <p><b>Cost: </b>{{order.cost}} RON</p>
    </mat-card-content>
</mat-card>
<ng-template #notfound>
    <mat-card>
        <mat-card-header>
            <span style="flex: 1 1 auto;"></span>
            <a [routerLink]="'/'"><button mat-icon-button><mat-icon>close</mat-icon></button></a>
        </mat-card-header>
        <mat-card-content>
            Comanda nu a fost gasita!
        </mat-card-content>
    </mat-card>
</ng-template>
