.topbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 69;
    height: 50px;
    /* background-color: #212d33; */
    /* border-radius: 0.25rem!important; */
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)!important;
}
.spacer {
    flex: 1 1 auto;
}
.search-field{
    font-size: medium;
    margin-top: 0.8rem;
}
.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
/* :host{
    width: 100%;
    width: -webkit-fill-available;
    background-image: url(/assets/background.jpg);
    position: absolute;
    filter: blur(2.5px);
    background-position: center;
    display: grid;
    height: fit-content;
} */
:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.blurfilter{
    position: absolute;
    height: 100%;
    backdrop-filter: blur(8px);
}
/* div[role="main"]{
    max-width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
} */


@media (max-width: 768px){
    .home{
        /* flex-direction: column!important; */
        align-content: center;
        /* display: -webkit-box!important; */
    }
    .mobile{
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -webkit-box-align: center;
    }
}

@media (max-width: 530px){
    .container{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
.mat-drawer-content{
    display: grid;
}
/* @media (min-width: 850px){
    div[role="main"]{
        align-items: center;
    }
    :host{
        height: inherit;
    }
} */