<!-- <div class="blurfilter container-fluid"></div> -->
<mat-toolbar class="border-bottom border-danger topbar pr-0" [color]="'accent'">
  <button mat-icon-button [(disabled)]="!user" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/"><button mat-button color="primary">GSM Service</button></a>
  <!-- <span>GSM Service</span> -->
  <span class="spacer"></span>
  <button mat-button color="primary" *ngIf="authenticated && user" [matMenuTriggerFor]="menu">Salut, {{user}}<mat-icon>expand_more</mat-icon></button>
  <a routerLink="/login" *ngIf="!authenticated" style="color: black;"><button mat-icon-button><mat-icon>login</mat-icon></button></a>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <a [routerLink]="'/panel'"><button mat-menu-item><mat-icon>dashboard</mat-icon>Dashboard</button></a>
  <button mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>Logout</button>
</mat-menu>
<mat-drawer-container class="h-100">
  <mat-drawer mode="over" #drawer>
    <mat-nav-list>
      <h3 matSubheader>
        {{user}}
        <span class="spacer"></span>
        <button mat-icon-button (click)="logout()"><mat-icon>power_settings_new</mat-icon></button></h3>
      <a *ngIf="administrator" [routerLink]="'/panel'" mat-list-item ><button mat-icon-button><mat-icon>dashboard</mat-icon>Dashboard</button></a>
      <a *ngIf="administrator" [routerLink]="'panel/orders'" mat-list-item><button mat-icon-button><mat-icon>list_alt</mat-icon>Orders</button></a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="mw-100">
      <div fxLayout="row wrap" class="justify-content-around home mobil align-content-center" *ngIf="!busy" [ngClass]="(!administrator ? 'align-self-center' : '')">
        <app-checkorder fxFlex="min-content" class="d-flex align-self-center" [color]="'primary'"></app-checkorder>
        <app-regorder  *ngIf="authenticated && administrator"></app-regorder>
      </div>
      <router-outlet (activate)="routeOn($event)" (deactivate)="routeOff($event)" class="position-absolute"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<notifier-container class="position-absolute"></notifier-container>
