<mat-card *ngIf="!offdash" class="m-4">
    <mat-card-header>
        <mat-card-title>Today's Total Sale</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <h2>{{todaysale}} RON</h2>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions> -->
</mat-card>
<mat-card *ngIf="!offdash" class="m-4">
    <mat-card-header>
        <mat-card-title>Yesterday's Total Sale</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <h2>{{yesterdaysale}} RON</h2>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions> -->
</mat-card>
<button mat-fab class="md-fab md-fab-bottom-right mr-3" (click)="openAddDialog()"><mat-icon>add</mat-icon></button>
<router-outlet (activate)="routeOn($event)" (deactivate)="routeOff($event)"></router-outlet>