<div *ngIf="authenticated" fxLayout="row wrap" class="justify-content-around">
    <mat-card [id]="order.id" *ngFor="let order of orders$|async" class="m-2 align-self-start" style="max-width: 16rem;">
        <mat-card-header>
            <h3 class="font-weight-bold mr-2 text-white">{{order.phone_number}}</h3>
            <mat-chip-list>
                <mat-chip *ngIf="order.order_status == 'in_lucru'" style="width: max-content;">In Lucru</mat-chip>
                <mat-chip *ngIf="order.order_status == 'in_asteptare'" class="bg-warning" style="width: max-content;">In Asteptare</mat-chip>
                <mat-chip *ngIf="order.order_status == 'gata'" class="bg-success" style="width: max-content;">Gata</mat-chip>
                <mat-chip *ngIf="order.order_status == 'diagnostic'" class="bg-info" style="width: max-content;">Diagnoza</mat-chip>
              </mat-chip-list>
        </mat-card-header>
        <mat-card-content [id]="order.id" class="text-white" *ngIf="editElement != order.id" (click)="editField($event.target.parentElement.id)">
            
            <p><b>Produs: </b>{{order.product}}</p>
            <p><b>IMEI: </b> {{order.imei}}</p>
            <p><b>SN: </b> {{order.serial_number}}</p>
            <p><b>Problema: </b> {{order.issue_description}}</p>
            <p><b>Observatii: </b> {{order.technician_observations}}</p>
            <p><b>Cost: </b> {{order.cost}}</p>
            <div id="cardbuttons">
                <button mat-raised-button (click)="openDialog(order.id)" class="mr-3">Modify</button>
                <button mat-raised-button (click)="deleteOrder(order.id)" class="bg-danger text-white">Delete</button>
            </div>
        </mat-card-content>
        <mat-card-content class="text-white" *ngIf="editElement == order.id && orderRegister">
            
            <p><b>Produs: </b><input [(ngModel)]="orderRegister.product"></p>
            <p><b>IMEI: </b><input [(ngModel)]="orderRegister.imei"></p>
            <p><b>SN: </b><input [(ngModel)]="orderRegister.serial_number"></p>
            <p><b>Problema: </b> <input [(ngModel)]="orderRegister.issue_description"></p>
            <p><b>Observatii: </b> <input [(ngModel)]="orderRegister.technician_observations"></p>
            <p><b>Cost: </b> <input [(ngModel)]="orderRegister.cost"></p>
            <div id="cardbuttons">
                <button mat-raised-button (click)="updateOrder(order.id)" class="mr-3">Modify</button>
                <button mat-raised-button (click)="editElement=''" class="bg-danger text-white">Cancel</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<button mat-fab class="md-fab md-fab-bottom-right" (click)="openAddDialog()"><mat-icon>add</mat-icon></button>