/* Add application styles & imports to this file! */
@import "~angular-notifier/styles";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card-header-text {
    /* CSS styles go here */
    margin: 0px!important; 
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)!important;
}
p{
    overflow-wrap: anywhere;
}

mat-card{
    border-bottom-right-radius: 1rem!important;
    border-top-left-radius: 1rem!important;
}
label{
    margin-bottom: 0!important;
}