/* @media (min-width: 850px){
    :host {
        max-width: fit-content!important;
    }
} */
/* @media(max-width: 580px){
    :host{
        width: min-content;
    }
} */
@media(min-width: 835px){
  mat-card{
    margin-bottom: 0;
  }
}
@media(max-width: 835px){
  mat-card{
    margin-bottom: 2rem;
  }
}
@media(max-width: 600px){
  mat-card{
    margin-top: 2rem;
  }
}
form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
